body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.filexible-content{
  display: flex;
}
section{
  padding-bottom: 150px;
}
.hero-area{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.author-color{
  color: #ffa500;
}
.banner-part-area{
  width:40%;
  margin-left: 5%;
  padding-left: 2%;
}
.btn{
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}
.hero-banner-right img, .resume-image-area img{
  width: 100%;
}
.resume-content-area{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

